<head>
    <title>Testing Tool-UI</title>
</head>

<h1>Hello {{Name}}, Welcome to {{title}}</h1>
<cases></cases>


<!--Foooter Starts-->
<footer class="mainfooter">
    <div class="col-md-3 col-sm-6">
        <!--Only 1 Column on the left-->
        <div class="footer-pad foot">
            <h4>Resources</h4>
            <ul class="list-unstyled">
                <li><a href="#"></a></li>
                <li><a href="#">Payment Center</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">FAQs</a></li>
            </ul>
        </div>
    </div>
    <!--This should be on the right as icons-->
    <div class="row">
        <div class="col-md-12 copy">
            <p class="text-center">&copy; Copyright:2021 Zensar Technologies Ltd. CIN:L72200PN1963PLC012621. All
                Rights Reserved</p>
        </div>
    </div>
</footer>